@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --main: #e06d01;
    --white: #fff;
    --grey: #f5f5f5;
    --black: #222;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #232323;
}

/*--------------------------------details---------------------------*/

.footer-container {
    position: relative;
    width: 100%;
    height: 250px;
    padding: 30px 0 250px 50px;
    margin-top: 20%;
    display: flex;
    color: #fff;
    background-color: #1D1919;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
}
.footer-container li
{
    padding-top:10px;
    list-style:none;
}

.footer-container a
{
    text-decoration: none;
    color: #fff;
}
.footer-1 {
    padding-top:30px;
    width:25%;
}
.footer-1 img{
    display: flex;
    margin-bottom:25px;
    width:100px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}
.footer-2 {
    padding-top: 20px;
    width: 25%;
}
.footer-3 {
    padding-top: 20px;
    width: 25%;
}
.footer-4 {
    padding-top: 20px;
    width: 25%;
}
