*{
    background-color: #232323
}

#ul-head{
    display: flex;
    align-items: center;
    justify-content: center;
}
#ul-head li{
    
    list-style: none    ;
    font-size:45px;
    
    
}
#ul-head li a{
    text-decoration: none;
    padding: 0 100px;

}
#ul-head li:hover{
    background-color: aqua;
}
.container{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.Banner
{
    width: 100%;
    background-color: #2F2727;
}
.Banner .Logo{
    display: flex;

}
.Banner .Banner-in{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}

.content{
    margin-top: 10% ;
    font-size: 50px;
    text-align: center;
    color: white;
}
