:root {
    --orangeprime : #F97E6C;
    --blackrgba : rgba(0, 0, 0, 0.945);
    --footer-color : #AEAEAE;
    --mini-hero-color : #f5f5f5;
    --section-title-color : #343434; 
    --price-old-modal : #a5a5a5;
    --bgr-female : #fcf9f4;
    --infomation-content : #808080; 
}

a {
cursor: pointer;    
text-decoration: none;

}

span {
    color: red;
    cursor: pointer;
    transition : all 0.3s linear;
    font-size: 0.7rem;
    margin-top: 8px;
}



.no-padding {
    padding: 0px !important;
    cursor: pointer;
}  
  

/* navbar */

.navbar {
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    transition: all  0.6s linear;
}

.navbar-wrapper {
   position: relative;
   padding : 20px 0px;
   display: flex;
   align-items: center;
   justify-content: space-evenly
}

.navbar-menu {
    display: flex;
    list-style-type: none;
}

.navbar-menu-icon {
    font-size: 0.5rem;
    transform: translateY(-2.5px);
    transition : 0.2s linear;
}

.navbar-menu-icon{
    transition: 0.2s ease-in-out;
}

.navbar-menu-icon.active {
    transform: rotate(-180deg);
}

.navbar-menu-item a.active {
    color: var(--orangeprime);
}
.navbar-menu-item.active2 a {
    color: white;
}

.navbar-menu-item ~ .navbar-menu-item {
    margin-left: 30px;
}

.navbar-menu-item a {
    color: white;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
    letter-spacing: 1px;
}


.navbar-menu-item a:hover {
    color : var(--orangeprime);
}

.navbar-menu-item.active2 a:hover {
    color : black
}


.navbar-menu-item:nth-child(3) {
    position: relative;
}


.navbar-icon {
    display: flex;
    list-style-type: none;
}

.navbar-icon-item ~ .navbar-icon-item {
    margin-left: 25px;
}

/* Login admin */

.admin {
   font-size: 1.4rem;
   color: white;
   align-items: center;
   transform: translateY(3px);
   display: none;
}
